*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("360_F_1500168557_MhTcxHnZGj722e6zeUg6qKPRohyiyd52.jpg");
    background-size:cover;
    background-position:center;
    overflow:hidden;
}

.container{
    width:90%;
    max-width:800px;
    z-index:10;
}

.card{
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.2);
    border-radius:25px;
    padding:40px;
    color:white;
    text-align:center;
    box-shadow:0 0 25px rgba(0,150,255,.35);

    max-height:85vh;
    overflow-y:auto;
}

#typedText{
    text-align:left;
    line-height:1.9;
    white-space:pre-wrap;
    font-size:17px;

    max-height:65vh;
    overflow-y:auto;
    padding-right:10px;
}


h1,h2{
    color:#9ad6ff;
    margin-bottom:20px;
}

.subtitle{
    margin-bottom:25px;
    font-size:18px;
}

button{
    background:#3b82f6;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

.hidden{
    display:none;
}

#typedText{
    text-align:left;
    line-height:1.8;
    white-space:pre-wrap;
    font-size:17px;
}

.heart{
    position:fixed;
    color:#8ecbff;
    animation:fall linear forwards;
}

@keyframes fall{
    from{
        transform:translateY(-100px);
    }
    to{
        transform:translateY(110vh);
    }
}